<p-card header="Create a New Game" styleClass="p-mb-3">
  <form [formGroup]="createGameForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="form-element">
        <label for="studySetId">Study Set ID</label>
        <input id="studySetId" type="text" pInputText formControlName="studySetId" />
      </div>

      <div class="form-element">
        <label for="userId">Teacher ID</label>
        <input id="userId" type="text" pInputText formControlName="userId" />
      </div>

      <div class="form-element">
        <label for="gameType">Game Type</label>
        <p-dropdown 
          [options]="['FLASHCARD', 'MATCHING']" 
          formControlName="gameType"
          placeholder="Select a Game Type">
        </p-dropdown>
      </div>

      <button type="submit" pButton label="Create Game" [disabled]="createGameForm.invalid"></button>
    </div>
  </form>
</p-card>
