<div class="main-container">
    <div class="table-container">
        <div style="padding: 1rem">
            <h2> <i class="fa-solid fa-users"></i> Select a user to log in. </h2>
            <h3> If no users appear, click populate below. </h3>
            <p-button severity="secondary" (click)="populate()" pTooltip="Populate data from database">Populate</p-button>
        </div>
        
        @if (!loading) {
        <p-table [value]="users">
            <ng-template #header>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td>{{user!.id}}</td>

                    <td>{{user!.name}}</td>
                    <td>
                        <p-badge value="{{user!.role}}"
                            [severity]="user.role == 'TEACHER' ? 'info' : user.role == 'ADMIN' ? 'danger' : 'success'"></p-badge>
                    </td>
                    <td>
                        <p-button (click)="selectUser(user)" pTooltip="Log in as {{user!.name}}">Log in</p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        }
    </div>
</div>