@if ( game ) {
    <h2> Game {{game.id}} for Study Set {{game.studySetName}}</h2>
    <p-table [value]="gameSessions">
        <ng-template #caption>
            <p-badge value="Sessions" severity="secondary"></p-badge>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Student</th>
                <th>Completed</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-session>
            <tr>
                <td>{{session.studentName}}</td>

                <td>{{session.completed}}</td>

                <td>{{session.score}}</td>
                
                <td> <p-button (click)="unassignUser(session)">Unassign User</p-button> </td>
            </tr>
            <!-- <tr>
                <td colspan="5">TODO add new question</td>
            </tr> -->
            
        </ng-template>
        <ng-template #footer>
            <tr> 
                <td colspan="4"> 
                    <div style="display: flex; width: 100%; align-items: center; gap: 0.5rem;">
                        <p-button (click)="addUser()" icon="fa-solid fa-plus" pTooltip="Assign more students"></p-button>
                        @if (addingUser) { 
                            <p-multiselect 
                                [(ngModel)]="assignedStudents" 
                                [options]="students"
                                optionLabel="username" 
                                placeholder="Select users" 
                                display="chip"
                                appendTo="body">
                            </p-multiselect> 
                            <p-button (click)="saveAssignedUsers()" icon="fa-solid fa-save" pTooltip="Save changes"></p-button>
                        }
                    </div>
                </td>
                
            </tr>
            

        </ng-template>
        
        <ng-template #emptymessage>
            <tr>
                <td colspan="4">No sessions found.</td>
            </tr>
        </ng-template>
    </p-table>
}
