@if (!loading) {
    @switch(session.gameType) {
        @case("MATCHING") {
            <app-matching 
                *ngIf="session && questions.length > 0"
                [questions]="questions" 
                [sessionId]="session.id">
            </app-matching>
            
        }
        @case("FLASHCARD") {
            <app-flashcard
                *ngIf="session && questions.length > 0"
                [questions]="questions" 
                [sessionId]="session.id">
            </app-flashcard>
        }
        @default {
            Not yet implemented.
        }
    }
}
