.tables-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    @media (min-width: 1200px) {
        width: 60%;
    }
}

.ss-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}