
@if (!loading && studySet) {
    <div style="padding: 1rem">
        <h2> <i class="fa-solid fa-graduation-cap"></i> Study Set: {{studySet.title}}</h2>
        <h3>{{studySet.description}}</h3>
        <p-button 
            icon="fa-solid fa-file-arrow-down" 
            (click)="downloadSet(studySet)" 
            pTooltip="Download to JSON" 
            tooltipPosition="bottom" 
            label="Download">
        </p-button>
    </div>
    <div class="tables-container">
    <p-table [value]="studySet.questions" (onEditComplete)="saveQuestionEdit($event)">
        <ng-template #caption>
            <p-badge value="Questions" severity="secondary"></p-badge>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>Answer</th>
                <th>Difficulty</th>
                <th>Delete</th>
            </tr>
        </ng-template>
        <ng-template #body let-q let-i="rowIndex">
            <tr>
                <td>{{q.id}}</td>

                <td [pEditableColumn]="q.body" pEditableColumnField="body" [pEditableColumnRowIndex]="q.id">
                    
                    <p-cellEditor>
                        <ng-template #input>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="q.body" />
                        </ng-template>
                        <ng-template #output>
                            <i class="fa-solid fa-pen-to-square"></i>
                            {{q.body}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td [pEditableColumn]="q.correctAnswer" pEditableColumnField="correctAnswer" [pEditableColumnRowIndex]="q.id">
                    <p-cellEditor>
                        <ng-template #input>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="q.correctAnswer" />
                        </ng-template>
                        <ng-template #output>
                            <i class="fa-solid fa-pen-to-square"></i>
                            {{q.correctAnswer}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                
                <td [pEditableColumn]="q.difficulty" pEditableColumnField="difficulty" [pEditableColumnRowIndex]="q.id"> 
                     
                    <p-cellEditor>
                        <ng-template #input>
                            <p-select 
                                [(ngModel)]="q.difficulty" 
                                [options]="difficulties" 
                                optionLabel="label" 
                                optionValue="value" 
                                placeholder="Difficulty" 
                                appendTo="body">
                            </p-select>
                        </ng-template>
                        <ng-template #output>
                            <i class="fa-solid fa-pen-to-square"></i>
                            {{q.difficulty}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td> <p-button icon="fa-solid fa-trash" pTooltip="Delete this question" tooltipPosition="left"></p-button> </td>
            </tr>
            <!-- <tr>
                <td colspan="5">TODO add new question</td>
            </tr> -->
            
        </ng-template>
        <ng-template #footer>
            <tr> 
                <td colspan="5"> 
                        <p-button (click)="createQuestion()" icon="fa-solid fa-plus" pTooltip="Create new question"></p-button>
                </td>
            </tr>
            @if (creatingNew) {
                <tr>  
                    <td colspan="5"> 
                        <input pInputText [(ngModel)]="newQuestion.body" type="text" placeholder="Body" />
                        <input pInputText [(ngModel)]="newQuestion.correctAnswer" type="text" placeholder="Answer" />
                        <p-select [(ngModel)]="selectedDifficulty" [options]="difficulties" optionLabel="label" optionValue="value" placeholder="Difficulty" appendTo="body"></p-select>
                        <p-button (click)="saveNewQuestion()" icon="fa-solid fa-save" pTooltip="Save new study set"></p-button>
                    </td>
                </tr>
            }

        </ng-template>
        
        <ng-template #emptymessage>
            <tr>
                <td colspan="5">No questions found.</td>
            </tr>
        </ng-template>
    </p-table>


    <!-- table: this study set's Game instances, and all of the students assigned (tree table?) -->
     <!-- allow assigning students, but only YOUR students -->
     <!-- new game instance -->
     <p-table [value]="games">
        <ng-template #caption>
            <p-badge value="Games" severity="secondary"></p-badge>
        </ng-template>
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Sessions Assigned</th>
                <th>Sessions Completed</th>
                <th>Avg. Score</th>
                <th>Edit</th>
            </tr>
        </ng-template>

        <ng-template #body let-game>
            <tr>
                <td> {{game.id}} </td>
                <td> {{game.gameType}} </td>
                <td> {{game.gameSessions.length}} </td>
                <td> {{ getCompletedCount(game) }} </td>
                <td> {{ getAvgScore(game) }} </td>
                <td> <p-button (click)="editGame(game)">Edit game</p-button> </td>
            </tr>
        </ng-template>

        <ng-template #footer>
            <tr> 
                <td colspan="6"> 
                        <p-button (click)="createGame()" icon="fa-solid fa-plus" pTooltip="Create new game"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="6">No games found.</td>
            </tr>
        </ng-template>
     </p-table>
    </div>
}