@if (!loading) {
<div class="home-container"> 
  

    <div class="tables-container">
        <div style="width: 100%; padding: 1rem;">
            <h2><i class="fa-solid fa-user"></i> Welcome, {{ user.username }}!</h2>
            @if(user.role == 'TEACHER') {
                <p-button
                    label="Create New Game"
                    icon="fa-solid fa-plus"
                    (click)="goToCreateGame()"
                    pTooltip="Create a new game for a study set"
                ></p-button>
            }
        </div>
        @if (user.role == 'TEACHER') {
        

        <p-table [value]="students">
            <ng-template #caption>
            <i class="fa-solid fa-users"></i>
            &nbsp;
            <p-badge value="My students" severity="secondary"></p-badge>
            </ng-template>
            <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
            </ng-template>
            <ng-template #body let-student>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.username }}</td>
                <td>
                <p-badge value="{{ student.role }}" severity="success"></p-badge>
                </td>
                <td>
                <div style="display: flex; gap: 0.5rem;">
                    <p-button icon="fa-solid fa-xmark" tooltipPosition="left" pTooltip="Remove this student"></p-button>
                </div>
                </td>
            </tr>
            </ng-template>
            <ng-template #emptymessage>
            <tr>
                <td colspan="4">No students found.</td>
            </tr>
            </ng-template>
        </p-table>
        } @else if (user.role == 'STUDENT') {
        <p-table [value]="gameSessions">
            <ng-template #caption>
            <i class="fa-solid fa-gamepad"></i>
            &nbsp;
            <p-badge value="My game sessions" severity="secondary"></p-badge>
            </ng-template>
            <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Completed</th>
                <th>Score</th>
                <th>Actions</th>
            </tr>
            </ng-template>
            <ng-template #body let-gamesession>
            <tr>
                <td>{{ gamesession.id }}</td>
                <td>{{ gamesession.gameType }}</td>
                <td>{{ gamesession.completed }}</td>
                <td>{{ gamesession.score }}</td>
                <td>
                <div style="display: flex; gap: 0.5rem; align-items: center;">
                    <p-button (click)="playGame(gamesession.id)">Play now!</p-button>
                    <p-button icon="fa-solid fa-rotate-left" severity="secondary" pTooltip="Restart this game"></p-button>
                </div>
                </td>
            </tr>
            </ng-template>
            <ng-template #emptymessage>
            <tr>
                <td colspan="4">No game sessions found.</td>
            </tr>
            </ng-template>
        </p-table>

        <p-table [value]="teachers">
            <ng-template #caption>
            <i class="fa-solid fa-users"></i>
            &nbsp;
            <p-badge value="My teachers" severity="secondary"></p-badge>
            </ng-template>
            <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
            </ng-template>
            <ng-template #body let-teacher>
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.username }}</td>
                <td>
                <p-badge value="{{ teacher.role }}" severity="success"></p-badge>
                </td>
            </tr>
            </ng-template>
            <ng-template #emptymessage>
            <tr>
                <td colspan="4">No teachers found.</td>
            </tr>
            </ng-template>
        </p-table>
        }

        <p-table [value]="studySets">
        <ng-template #caption>
            <i class="fa-solid fa-graduation-cap"></i>
            &nbsp;
            <p-badge value="My study sets" severity="secondary"></p-badge>
        </ng-template>
        <ng-template #header>
            <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Questions</th>
            <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-set>
            <tr>
            <td>{{ set.id }}</td>
            <td>{{ set.title }}</td>
            <td>{{ set.description }}</td>
            <td>{{ set.questions.length }}</td>
            <td>
                <div style="display: flex; gap: 0.5rem;">
                <p-button icon="fa-solid fa-file-arrow-down" severity="secondary" (click)="downloadSet(set)" pTooltip="Download to JSON"></p-button>
                <p-button icon="fa-solid fa-pen-to-square" (click)="editStudySet(set)" pTooltip="Edit this set"></p-button>
                </div>
            </td>
            </tr>
        </ng-template>
        <ng-template #footer>
            <tr>
            <td colspan="6">
                <div style="display: flex; gap: 1rem;">
                <p-button (click)="createStudySet()" icon="fa-solid fa-plus" pTooltip="Create new study set"></p-button>
                <p-button (click)="openUploadDialog()" severity="secondary" icon="fa-solid fa-upload" pTooltip="Upload from JSON or XML"></p-button>
                </div>
            </td>
            </tr>
            @if (creatingNew) {
            <tr>
                <td colspan="6">
                <input pInputText [(ngModel)]="newStudySet.title" type="text" placeholder="Title" />
                <input pInputText [(ngModel)]="newStudySet.description" type="text" placeholder="Description" />
                <p-button (click)="saveStudySet()" icon="fa-solid fa-save" pTooltip="Save new study set"></p-button>
                </td>
            </tr>
            }
        </ng-template>
        <ng-template #emptymessage>
            <tr>
            <td colspan="6">No study sets found.</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>
<p-dialog header="Upload JSON" [modal]="true" [(visible)]="uploadDialogVisible" [style]="{ width: '25rem' }">
    <h4>Create a new study set by uploading a JSON file.</h4>
    <h5>A JSON file must match our format of exported JSON files.</h5>
    <h5>An XML file must match the formatting of a Canvas quiz.</h5>
    <p-fileupload #fileUpload (onSelect)="onSelect($event)" [multiple]="false" accept=".json, .xml"
        maxFileSize="1000000" mode="advanced" [showUploadButton]="false" [showCancelButton]="false">
        <ng-template #empty>
            <div>Drag and drop files to here to upload.</div>
        </ng-template>
    </p-fileupload>
    <ng-template #footer>
        <div style="display: flex; gap: 1rem">
            <p-button severity="secondary" icon="fa-solid fa-xmark" (click)="uploadDialogVisible = false"
                label="Close"></p-button>
            @if (studySetFile) {
            <p-button icon="fa-solid fa-check" (click)="importFile()" label="Confirm"></p-button>
            }
        </div>
    </ng-template>
</p-dialog>
}
